section[role="repository-information"] {
    padding: 0 0 0 3em;
    font-size: 1.15rem;
}

section[role="repository-information"], .intro, .stats {
    display: flex;
    flex-direction: column;
}

#button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.intro, .stats{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0.25em 0.25em 0.25em 0.75em;
    background-color: #EBEBD3;
}

span {
    padding: 0.25em 0em 0.25em 0em;
}

.repo-name {
    font-weight: bold;
    font-size: 1.2em;
    color: #a8201a;
}

button[name="html_url"], button[name="ssh_url"] {
    padding: 0.4em;
    margin-left: 1.5em;

}

button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    background-color: #EBEBD3;
    border-radius: 5px;
    border: solid 1px #A1B5D8;
    cursor: pointer;
}

button:hover {
    color: #a8201a;
}

@media only screen and (max-width: 700px){

    section[role="repository-information"] {
        padding: 1em;
        margin-top: 2em;
    }
}
