span {
    padding: 0.6em 0em 0.6em 0em;
}

#repo-card, .intro, .stats {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

#repo-card{
    margin: 0px 250px;
    width: 500px;
}

.intro, .stats{
    margin-bottom: 30px;
}

@media only screen and (max-width: 412px){

    #repo-card{
        margin: auto;
        width:100%
    }
}
