div[aria-label="user-information"] {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  float: left;
  background-color: #f5f5f5;
  margin-bottom: 30px;
}

img {
  width: 100%;
}

.user-login {
  font-size: 35px;
}

.user-name {
  font-size: 20px;
  font-style: italic;
}
