form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0 3em 0;
}

input {
    border: solid 1px blue;
    border-radius: 5px;
    font-size: 1.15em;
    padding: 0.25em;
    width: 350px;
}

input[type="submit"] {
    margin-top: 0.75em;
}

input[type="text"]:hover {

}

input[type="submit"]:hover {
    color: blue;
    background-color: lightblue;
}

input[type="text"]:focus {
    outline: solid 2px blue;
}
