form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 2em 0;
}

input {
    border: solid 1px #738290;
    border-radius: 5px;
    font-size: 1.15em;
    padding: 0.25em;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFCF7;
}

input[type="submit"] {
    margin-top: 0.75em;
}


input[type="submit"]:hover {
    color: #a8201a;
    background-color: #EBEBD3;
    cursor: pointer;
}

input[type="text"]:focus {
    outline: solid 2px #738290;
}
