section[aria-label='list-of-repositories'] {
    margin: 0px 250px;
    width: 500px;
}

.repo-link {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

@media only screen and (max-width: 412px){

    section[aria-label='list-of-repositories']{
        margin: auto;
        width:100%
    }
}
