#user-page-container {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}


@media only screen and (max-width: 412px) {
    #user-page-container {
        flex-direction: column;
        align-items: center;
    }
}